/* spellbook list styling */

div.book-listing.card {
    cursor: pointer;
    color: #111;
    border: 1px solid #ccc;
    background-color: #bbb;
    padding: 1em;
    margin: 1em;
}
div.book-listing.card:hover {
    background-color: #ccc;
}
div.book-listing.card:hover .card-name {
    text-decoration: underline;
}

.card-name, .card-tags {
    padding-right: 4em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-name {
    font-weight: bold;
}
.card-tags {
    font-style: italic;
    padding-left: 1em;
}
div.book-listing.card-edit-btn {
    cursor: pointer;
    position: relative;
    bottom: 4.5em;
    right: -1em;
    float: right;
    z-index: 3;
    padding-top: 2.5em;
    background: url(assets/images/edit.svg);
    background-repeat: no-repeat;
    background-color: #111;
    width: 3em;
    height: 3em;
    opacity: 0.9;
    overflow: hidden;
    transition: border 300ms;
    -webkit-transition: border 300ms;
    -moz-transition: border 300ms;
    -o-transition: border 300ms;
}
div.book-listing.card-edit-btn:hover {
    opacity: 1;
    border-left: 1.8em solid #111;
}

html.light .book-listing.card {
    border-color: #111;
    background-color: #fff;
}
html.light .book-listing.card:hover {
    background-color: #ccc;
}
