/* lists styling */

.spell-wrapper div.selection {
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
    float: right;
    z-index: 3;
    background: url('assets/images/unchecked.svg');
    background-repeat: no-repeat;
    background-color: #111;
    content: '';
    display: block;
    width: 2em;
    height: 2em;
}

.spell-wrapper.checked {
    border: 4px inset #555;
    background-color: #111;
}

.spell-wrapper.checked div.selection {
    background: url('assets/images/checked.svg');
}

.spell-wrapper {
    position: relative;
    padding: 1em;
    overflow: hidden;
    border: 4px outset #555;
    background: #222;
    margin: 1em 0;
    cursor: pointer;
}
.spell-wrapper:hover {
    background-color: #111;
}
.spell-wrapper:active {
    border: 4px inset #555;
    background-color: #111;
}
.spell-name {
    display: block;
    font-weight: bold;
    margin: 0 2em;
}
.spell-type {
    display: block;
    margin: 0 2em;
    padding-left: 1em;
    font-style: italic;
}
.spell-classes {
    display: block;
    margin: 0 2em;
    padding-left: 1em;
}
.add-link, .delete-link {
    width: 100%;
    margin-top: 1em;
    text-align: center;
}

/* these should go in a menu with 'select all' */

button#add-all, button#remove-all {
    display: block;
    position: fixed;
    z-index: 15;
    right: 0;
    min-width: 10em;
    max-width: 10em;
}
button#add-all {
    top: 7em;
}
button#remove-all {
    top: 9em;
}

button#add-all.closed, button#remove-all.closed {
    display: none;
}

html.light button#add-all, button#add-all, html.light button#remove-all, button#remove-all {
    border-right: 0 !important;
    opacity: 0.8;
}
button#add-all, button#remove-all {
    background-color: #eee !important;
    border-color: #111 !important;
    color: #111;
}
html.light button#add-all, html.light button#remove-all {
    background-color: #111 !important;
    border-color: #eee !important;
}

html.light button#add-all:hover, button#add-all:hover, html.light button#remove-all:hover, button#remove-all:hover {
    background-color: #c55 !important;
    border-color: #eee !important;
    opacity: 1;
}

html.light .spell-wrapper {
    border-color: #ccc;
    background-color: #fff;
}
html.light .spell-wrapper:hover {
    background-color: #ddd;
}
html.light .spell-wrapper:active {
    border-color: #ccc;
    background-color: #ccc;
}

html.light .spell-wrapper.checked {
    border-color: #ccc;
    background-color: #ccc;
}

html.light .spell-wrapper.checked div.selection {
    background: url(assets/images/checked.svg);
}

