/* menus.css */

#menu-heading {
    display: block;
    border-bottom: 1px solid #eee;
}

#menu-text {
    font-size: 130%;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
}

#menu-icon {
    margin-right: 0.5em;
}

#menu-icon img {
    height: 2em;
    width: 2em;
    border: 1px solid #ccc;
}

.big-link {
    margin: 0 auto;
    text-align: center;
}

.big-link button {
    width: 60%;
    margin: 0.5em 10em;
}

.w100-link {
    text-align: center;
}

.w100-link button {
    width: 100%;
    margin: 0.5em 0;
}

#search {
    color: #555;
}
#search:focus {
    color: #111;
}

#header-body-reset-app h2 {
    visibility: hidden;
}

#reset-button {
    background-color: #c33;
    border-color: #c11;
    width: 100%;
}
#reset-button:hover {
    background-color: #c55;
    border-color: #c00;
}

#share-output, #share-input {
    color: #111;
    background-color: #fff;
}
#share-output:hover, #share-input:hover {
    color: #111;
    background-color: #f5f5f5;
    border-color: #111;
}

#delete-button button, .confirm-button button {
    width: 100%;
} 
#delete-button button {
    background-color: #c00;
    border-color: #c33;
    margin: 0.5em 0;
}
#delete-button button:hover {
    background-color: #c33;
}