/* menus.css */

#menu-heading {
    display: block;
    border-bottom: 1px solid #eee;
}

#menu-text {
    font-size: 130%;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0.7em;
}

#menu-icon {
    margin-right: 0.5em;
}

#menu-icon img {
    height: 2em;
    width: 2em;
    border: 1px solid #ccc;
}

.big-link {
    margin: 0 auto;
    text-align: center;
}

.big-link button {
    width: 60%;
    margin: 0.5em 10em;
}

.w100-link {
    text-align: center;
}

.w100-link button {
    width: 100%;
    margin: 0.5em 0;
}

#search {
    color: #555;
}
#search:focus {
    color: #111;
}