/* responsive rules */
@media screen and (max-width: 1100px) {
    #passages {
        padding-left: 0em;
        padding-right: 0em;
    }
    #caption {
        width: 6em;
        left: -9em;
    }
    .big-link button, button.npc-action-link {
        width: 75%;
        margin: 0.5em 5em;
    }
}

@media screen and (max-width: 800px) {
    #story {
        margin: 5em 5em;
    }
    #bumper {
        margin: 0 35%;
        width: 30%
    }
    #caption {
        width: 2em;
        left: -5em;
    }
    #caption-text {
        display: none;
    }
    #caption-link {
        transform: rotate(270deg);
    }
    .big-link button, button.npc-action-link {
        width: 75%;
        margin: 0.5em;
    }
    #portrait {
        width: 10em;
    }
    #gender-control:before {
        content: 'F';
    }
    #gender-control:after {
        content: 'M';
    }
    #pronoun-edit table em {
        display: none;
    }
    .main-title {
        letter-spacing: 0.4em;
    }
}

@media screen and (max-width: 650px) {
    html {
        font-size: 90%;
    }
    .big-link button, button.npc-action-link {
        width: 85%;
    }
    #portrait {
        width: 100%;
        margin: 2em 0;
    }
    .main-title {
        font-size: 32px;
    }
}

@media screen and (max-width: 450px) {
    .ui-button, .ui-core {
        margin: 1em 0.5em;
    }
    #story {
        margin: 5em 2em;
    }
    html {
        font-size: 85%;
    }
    #bumper {
        margin: 0 25%;
        width: 50%
    }
    #caption {
        top: 0; left: 0; right:0;
        height: 1em;
        width: 100%;
        padding: 0; margin: 0;
    }
    #caption.open {
        padding-top: 5em;
    }
    #caption-link {
        transform: none;
        font-size: 100%;
        bottom: 0;
        text-align: center;
    }
    #main-hub img {
        width: 3em;
        padding: 0.2em;
    }
    input#gender-slider {
        width: 150px;
    }
    input[type=text] {
        margin-left: 0;
    }
}

@media screen and (max-width: 325px) {
    .ui-button, .ui-core {
        height: 2em;
        width: 2em;
        margin: 1.2em 0.5em;
    }
}